.background-white {
    background-color: #fff;
}
.padding-top-20 {
    padding-top: 20px;
}
.center-top {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.center-role-select {
    width: 200px;
    margin: 0 20px;
}
// .employee-list {
//     width: 100%;
//     overflow: auto;
// }
// modal
p {
    margin-bottom: 4px;
}
.check-block-div {
    width: 100%;
    padding: 5px 0;
}
.role-title {
    font-size: 18px;
}
.role-content {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
.role-content-lists {
    display: flex;
    flex-wrap: wrap;
}
.role-content-list {
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #eee;
}
.role-content-list-icon {
    font-size: 14px;
    color: #666;
    margin-left: 3px;
}