.background-white {
    background-color: #fff;
}
.blue {
    color: #1890ff;
}
.red {
    color: rgb(247, 28, 8);
}
.padding-top-20 {
    padding-top: 20px;
}
.center-left {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
}
.role-title {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--ant-color-link);
}
p {
    margin-bottom: 4px;
}
.check-block-div {
    width: 100%;
    padding: 5px 0;
}
.role-title {
    font-size: 18px;
}
.tabs-back {
    padding: 20px 10px;
}
.tab {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.active-tab {
  color: #FF9900;
  border-bottom: 2px solid #FF9900;
  font-weight: bold;
}

.inactive-tab {
  color: #999;
  cursor: pointer;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 160px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s;
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card:hover {
  transform: scale(1.02);
}

.tag {
  background-color: #FF9900;
  color: #fff;
  padding: 2px 12px;
  font-size: 12px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.title {
  margin-top: 8px;
  font-size: 16px;
  color: #333;
}

.tab-icon {
  font-size: 50px;
  color: #FF9900;
}
.card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}